/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* fonts p */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
/* fonts live button */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
body{
    width: 1440px;
    height: 3750px;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* top banner styles */
.top-banner{
    width: 1440px;
    height: 677px;
    background-color:#2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 120px;
}

.banner-detail h1{
   width: 485px;
   height: 265px;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 156px;
    margin-top: 145px;
    margin-bottom: 27px;
    /* margin-right:102px; */
}
.banner-detail .banner-button{
    width: 168px;
     height: 28px;
     color: #FFFFFF; 
     font-family: 'Poppins', sans-serif;
    background-color: #E02C6D;
    margin-left: 156px;
    margin-top: 27px;
    padding: 12px 24px ;
    text-align: center;
    transition: transform 2s ease-in-out; 
   
    
}
.banner-detail:hover .banner-button{
    transform: rotate(360deg) scale(1.5);
    background-color: violet;
   
   
}
.banner-detail i{
    width: 24px;
    height: 24px;
}

.banner-photo img{ 
    width: 556.01px;
    height: 438px;
   margin-top: 153px;
   margin-right: 140.99px;
   margin-bottom: 86px;
}


/* players section styles */
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
     grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;   
}
.player-details{
    width: 300px;
    height: 426px;
    font-family: 'Poppins', sans-serif;
    margin-left: 156px;
    margin-top: 207px;

}
.player{
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
     
}
.player img{
    width: 300px;
    height: 256px;  
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
   
   
}  
.player-info{
    width: 300px;
    height: 113px;

} 
.player-info h3{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin: 16px 15px 10px;
    
}
.player-info p{
   
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#6C6C6C;
    margin: 10px 15px 24px;

}
/* footer styles */
.footer{
    width: 483.87px;
    height: 250px;
    margin-left: 300px;
    margin-right: 481.13px;
    margin-top: 158px;
    margin-bottom: 63px;
    
}
.football-logo img {
    width: 483px;
    height: 110px;
    
    margin-left: 150px; 
    margin-bottom: 10px;   
    
}
.social-media-icons{
    width: 170px;
    height: 44px;
    margin-left: 350px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.fab{
    width: 32px;
    height: 32px;
    align-self: center;
    font-size: 25px;
   /* margin-top: 10px; */
   /* margin-bottom: 20px; */
   margin-right: 7px;
}
.copyright{
    width: 250px;
    height: 31px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 310px;
    margin-top: 10px; 
}
   
