/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* fonts p */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');
/* fonts live button */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

 body{
     width: 1440px;
    height: 3750px;
    background: #FFFFFF;
    align-items: center;
   
} 
main{
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* top banner styles */
.top-banner{
     min-width: 1440px;
    min-height: 677px; 
    background-color:#2D25A0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 120px;
}

.banner-detail h1{
   width: 485px;
   height: 265px;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 156px;
    margin-top: 145px;
    margin-bottom: 27px;
    /* margin-right:102px; */
}
.banner-detail .banner-button{
    width: 168px;
     height: 28px;
     color: #FFFFFF; 
     font-family: 'Poppins', sans-serif;
    background-color: #E02C6D;
    margin-left: 156px;
    margin-top: 27px;
    padding: 12px 24px ;
    text-align: center;
    transition: transform 2s ease-in-out; 
   
    
}
.top-banner:hover .banner-button{
    transform: rotate(360deg) scale(1.5);
    background-color: violet;
   
   
}
.banner-detail i{
    width: 24px;
    height: 24px;
}

.banner-photo img{ 
    width: 556.01px;
    height: 438px;
   margin-top: 153px;
   margin-right: 140.99px;
   margin-bottom: 86px;
}


/* players styles */
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
     grid-column-gap: 30px;
    grid-row-gap: 27px;
    justify-content: center;
    align-items: center;
    margin-top: 70px; 
    margin-bottom: 100px;  
}
.player-details{
    width: 300px;
    height: 426px;
    font-family: 'Poppins', sans-serif;
    margin-left: 156px;
    margin-top: 207px;

}
.player{
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
     
}
.player img{
    width: 300px;
    height: 256px;  
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
   
   
}  
.player-info{
    width: 300px;
    height: 113px;

} 
.player-info h3{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin: 16px 15px 10px;
    
}
.player-info p{
   
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#6C6C6C;
    margin: 10px 15px 24px;
}
/* trophy and schedule styles */
.trophy-and-schedule{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px; 
}
/* match-fixture styles */
.trophy{
    width: 400px;
    height: 500px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    margin: 5px;
    overflow: hidden;
}
.trophy:hover .match-date{
    display: block;
    background-color: rgba(226, 196, 156, 0.416);
}
.trophy:hover .trophy-photo{
    transform: scale(1.5) rotate(360deg);
    transition: transform 2s ease-in-out;
}
.trophy-photo img{
    width:100% ;
    border-radius: 10px;  
}
.match-date{
    display: none;
   
    position: absolute;
    width: 400px;
    top: 0;
}
.match-date h1{
    background-color: rgba(68, 58, 58, 0.83);
    color: white;  
    text-align: center;
   
    
}
/* schedule table styles */
table{
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}
tbody td,th{
    border: 1px solid rgba(128, 128, 128, 0);
    text-align: center;
    font-size: 40px;
    border-radius: 50px;
}
thead th{
    padding: 10px;
    background-color: lightslategray;
    font-family:Arial, Helvetica, sans-serif;
}
tbody td{
    background-color: lightsteelblue;
}
/* youtube button styles */
.youtube-button{
    margin-top: 100px;
    font-size: 50px;
}
.youtube-button i{
    font-size: 50px;
    color: red;
}
/* login form styles */

.login-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.login-form{
    display: flex;
    flex-direction:column;
    
}

.login-form input,button{
    font-size: 30px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding-left: 5px;
}
.login-form button{
    background-color:gray;
    color: wheat;
    font-weight: 600;
    padding: 5px;
    font-size: 30px;
}
/* footer styles */
.footer{
    width: 483.87px;
    height: 250px;
    margin-left: 300px;
    margin-right: 481.13px;
    margin-top: 158px;
    margin-bottom: 63px;
    
}
.football-logo img {
    width: 483px;
    height: 110px;
    
    margin-left: 150px; 
    margin-bottom: 10px;   
    
}
.social-media-icons{
    width: 170px;
    height: 44px;
    margin-left: 350px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.fab{
    width: 32px;
    height: 32px;
    align-self: center;
    font-size: 25px;
   margin-right: 7px;
}
.copyright{
    width: 250px;
    height: 31px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 310px;
    margin-top: 10px; 
}
/*----------
 Media Queries 
---------------*/
/* mobile device */

 @media only screen and (max-width:688px) {
     .container{
         width: 100%;
     }
     .players,.trophy-and-schedule,.top-banner{
         grid-template-columns: repeat(1,1fr);
         align-items: center;
         
     }
   .trophy-and-schedule,.players{
        flex-direction: column;
        align-items: center;
     }
     

     
 }  
 /* tablet decvice */
 /* @media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.trophy-and-schedule,.top-banner{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        
    }
  .trophy-and-schedule,.players{
       flex-direction: column;
       align-items: center;
    }
    

    
} */
